.c-search-form {
	display: flex;
	justify-content: center;
	max-width: 768px;
	margin: 1.5rem auto;
	padding: 0 1rem;
}

.c-search-form__input,
.c-search-form__submit-btn {
	padding: 0.4rem 1rem;
	border: none;
	border: 1px solid lightgrey;
	box-sizing: border-box;
}

.c-search-form__input {
	flex: 1;
	border-right: none;
}

.c-search-form__submit-btn {
	width: 100px;
	background-color: var(--secondary);
	color: var(--primary);
	font-weight: 550;
	border-left: none;
	transition: 0.2s ease;
}

.c-search-form__submit-btn:hover {
	cursor: pointer;
	opacity: 0.95;
}